<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>{% block title %}Change This Title{% end %}</title>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css"/>
    {% block style %}{% end %}
    <script src="/static/js/jquery.1.7.1.min.js"></script>
    {% block script %}{% end %}
</head>
<body>
    <div id="wrapper">
        <section id="content">{% block content %}{% end %}</section>
    </div>
    <footer></footer>
    <script src="/static/bootstrap/bootstrap.min.js"></script>
</body>
</html>
