<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>{% block title %}{% end %}</title>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap-responsive.css') }}"/>
    <script src="{{ static_url('js/libs/jquery/jquery-min.js') }}"></script>
    <script src="{{ static_url('js/libs/underscore/underscore-min.js') }}"></script>
    <script src="{{ static_url('js/libs/backbone/backbone-min.js') }}"></script>

    {% block head %}{% end %}
</head>
<body>
    {% block content %}{% end %}
</body>
</html>
