{% extends '../simple_base.html' %}

{% block style %}
<style type="text/css">
    body {
        background-color: #f5f5f5;
    }
    .center {
        width: 700px;
        margin: 50px auto;
    }
    input[type='text'], input[type='password'], input[type='email'] {
        height: 40px;
        line-height: 40px;
        font-size: 25px;
    }
    .help-inline, .radio, .control-label {
        font-size: 25px;
    }
    .btn {
        font-size: 18px;
    }
    .popover-content > p {
        font-size: 20px;
    }
</style>
{% end %}

{% block script %}
<script type="text/javascript">
    $(function() {
            $(".controls input").each(function() {
                $(this).popover();
                });
            $("#confirm").change(function() {
                if ($(this).val() == $("#password").val()) {
                $(this).next().html("正确");
                $(this).parent().parent().removeClass('error')
                .addClass('success');
                } else {
                $(this).next().html("错误");
                $(this).parent().parent().removeClass('success')
                .addClass('error');
                }
                });
            });
</script>
{% end %}

{% block content %}
<div class="center">
    {% if errors %}
    <div class="alert">
        <a class="close" data-dismiss="alert">×</a>
        <strong>错误!</strong>
        {% for error in errors %}
        {% if error is 'email_exists' %}
        <p>邮箱已经存在</p>
        {% elif error is 'gender_blank' %}
        <p>性别不能为空</p>
        {% end %}
        {% end %}
    </div>
    {% end %}
    <form action="" method="post" class="form-horizontal">
        {% raw xsrf_form_html() %}
        <fieldset>
            <legend>注册</legend>
            <div class="control-group">
                <div class="controls" value="hello">
                    <input id="email" type="email" class="span5" placeholder="请输入邮箱地址" required="required" name="email" rel="popover" title="提示" data-content="请正确输入邮箱" />
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input id="password" type="password" class="span5" placeholder="请输入密码" required="required" name="password" rel="popover" data-content="请输入密码，不少于6位" title="提示"/>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input id="confirm" type="password" class="span5" placeholder="请再次输入密码" required="required" name="confirm" rel="popover" data-content="请确保密码正确" title="提示"/>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="radio inline"><input type="radio" name="gender" value="0"/>男</label>
                    <label class="radio inline"><input type="radio" name="gender" value="1"/>女</label>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="text" class="span5" placeholder="请输入您的姓" required="required" name="lastname" rel="popover" title="提示" data-content="不能为空"/>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="text" class="span5" placeholder="请输入您的名" required="required" name="firstname" rel="popover" title="提示" data-content="不能为空"/>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-success pull-right">注册</button>
            </div>
        </fieldset>
    </form>
</div>
{% end %}
